<div class="content" role="main" class="iframe-wrapper">
  <!-- <div width="500" height="500" class="top-image" src="" [innerHTML]="yt | safe: 'html'"></div>-->


  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">

    <div class="form-group">

      <label for="srcUrl">iod src url</label><br>

      <input id="srcUrl" type="text" name="srcUrl" class="form-control" ngModel>

    </div>

    <pre></pre>

    <button class="btn btn-primary" type="submit">load iframe</button>

  </form>

  <H2>IOD Client Web Page</H2>
  <iframe id="iframe_demo" width="500" height="500" class="top-image" ></iframe>

</div>


